<div class="container">
  <div class="col-md-12 col-xs-12">
  <h2 class="titol" style="text-align: center;"><i class="fas fa-question-circle"></i> Preguntes Freqüents</h2>
  <br>
  <ngb-accordion #acc="ngbAccordion">
  <ngb-panel id="config-panel-one">
    <ng-template ngbPanelTitle>
        <span style="color:black">No puc fer la meva compra<i style="float:right;" class="fas fa-angle-down"></i></span>
      </ng-template>
      <ng-template ngbPanelContent>
        Revisa que hagis omplert tots els camps obligatoris. Si has deixat algun camp sense omplir, 
        o bé alguna informació és incorrecta, apareixerà un missatge d'avís indicant l'error. 
        És aconsellable que facilitis el correu electrònic que fas servir normalment i també el teu telèfon mòbil, 
        per si t'hem d'avisar per qualsevol incidència.
      </ng-template>
    </ngb-panel>
    <ngb-panel>
    <ng-template ngbPanelTitle>
        <span style="color:black">Com puc accedir a les meves entrades?<i style="float:right;" class="fas fa-angle-down"></i></span>
      </ng-template>
      <ng-template ngbPanelContent>
        A través del nostre sistema, rebràs l'entrada al teu e-mail (el que ens has indicat durant la compra) 
        perquè la puguis imprimir tu mateix. L'entrada serà un arxiu adjunt al correu electrònic en format ".pdf". 
        També hi pots accedir a través de l'apartat "Les meves Entrades pendents de recollir".
      </ng-template>
    </ngb-panel>
    <ngb-panel>
    <ng-template ngbPanelTitle>
        <span style="color:black">Quines despeses d'enviament o de gestió hi ha?<i style="float:right;" class="fas fa-angle-down"></i></span>
      </ng-template>
      <ng-template ngbPanelContent>
        En tractar-se d'una gestió que realitzes tu directament, no hi ha despeses d'enviament ni de gestió 
        ni cap tipus de comissió
      </ng-template>
    </ngb-panel>
    <ngb-panel>
    <ng-template ngbPanelTitle>
        <span style="color:black">Com puc modificar o anul·lar la meva comanda?<i style="float:right;" class="fas fa-angle-down"></i></span>
      </ng-template>
      <ng-template ngbPanelContent>
        La compra de qualsevol entrada del la Fira és una compra en ferm, sense dret a canvi ni devolució.
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
  
  </div>
  </div>
  
  