<main>
  <div class="col-12 col-md-12">
    <div class="col-0 col-md-1 d-inline-block"></div>
    <div class="divCartell col-12 col-md-3 d-inline-block">
      <img src="assets/imatges/{{detallEspectacle?.detalls[0].codi}}/{{detallEspectacle?.detalls[0].foto}}" alt="" class="fotoCartell">


    </div>
    <div *ngFor='let espectacle of detallEspectacle?.detalls; ' class="col-12 col-md-4 d-inline-block align-top">
      <br>
      <p class="textEspectacle d-inline-block">Títol : </p>
      <p class="d-inline-block"> {{espectacle.titol}}</p><br>
      <p class="textEspectacle d-inline-block">Gènere : </p>
      <p class="d-inline-block" *ngFor='let genere of detallEspectacle?.genere'> {{genere.nomGenere}}</p><br>
      <p class="textEspectacle d-inline-block">Tipus d'espectacle : </p>
      <p class="d-inline-block" *ngFor='let tipus of detallEspectacle?.tipus'> {{tipus.nomTipus}}</p><br>
      <p class="textEspectacle d-inline-block">Edat Recomanada : </p>
      <p class="d-inline-block"> {{espectacle.edatRecomanada}}</p><br>
      <p class="textEspectacle d-inline-block">Duració : </p>
      <p class="d-inline-block"> {{espectacle.duracio}} min</p><br>
      <p class="textEspectacle d-inline-block">Companyía :</p>
      <p class="d-inline-block" *ngFor='let companyia of detallEspectacle?.companyia'> {{companyia.nomCompanyia}}</p><br>
      <p class="textEspectacle d-inline-block">Preu :</p>
      <p class="d-inline-block"> {{espectacle.preu}} €</p><br>

    </div>
    <div class="col-12 col-md-4 d-inline-block align-top">
      <br>
      <p class="font-weight-bold">Sinòpsi :</p>
      <p class="pl-2" *ngFor='let espectacle of detallEspectacle?.detalls'> {{espectacle.sinopsi}}</p>

      <p class="font-weight-bold">Director : </p>
      <p class="pl-2" *ngFor='let espectacle of detallEspectacle?.director'> {{espectacle.nom}} {{espectacle.llinatge1}} {{espectacle.llinatge2}}</p>

      <p class="font-weight-bold">Actors : </p>
      <ul class="actors">
        <li class="actors" *ngFor='let espectacle of detallEspectacle?.actor'>{{espectacle.nom}} {{espectacle.llinatge1}} {{espectacle.llinatge2}}</li>
      </ul>
    </div>
  </div>
  <div class="d-inline-block col-12 col-md-12">
    <br>
  </div>
  <div class="col-12 col-md-12 border">
    <div class="col-0 col-md-1 d-inline-block"></div>
    <div class="col-12 col-md-5 d-inline-block">
      <h2 class="font-weight-bold d-inline-block">Selecciona la teva sessio : </h2>
      <p id="clicka" class="sessionsPassades d-inline-block">(fes click aqui per veure les sessions passades)</p><br>
      <ul>
        <li class="capcelera" *ngFor='let salasessio of detallEspectacle?.salasessio'>Sala : {{salasessio.nom}} </li>
        <li class="hores" *ngFor='let sessio of detallEspectacle?.sessio'>
          <a (click)="postProfile(sessio)" href="http://www.f.dawman.info/#/carret" class="text-dark">
              Dia : {{sessio.dataBona}} a les : {{sessio.horaBona}}
            </a></li>
      </ul>
      <br>
      <div id="obri">
        <h2>Sessions Anteriors :</h2>
        <p *ngFor='let sessio of detallEspectacle?.sessionsPassades'>Data : {{sessio.dataBona}} | Hora : {{sessio.hora}}</p>
      </div>
    </div>
    <div class="col-0 col-md-5 d-inline-block">
    </div>
    <div class="col-0 col-md-1 d-inline-block"></div>
  </div>
  <div class="col-12 col-md-12">
    <div class="col-0 col-md-1 d-inline-block"></div>
    <div class="col-12 col-md-10 d-inline-block">
      <h2>Comentaris : </h2>
      <div class="col-10 col-md-10 form-group">
        <input class="col-12 col-md-6" id="inputAnonim" placeholder="Inserti el seu correu..." type="text" />
        <input type="checkbox" name="anon" id="anonymous"> Usuari anònim <br><br>
        <textarea type="text" class="form-control col-md-12 col-12" name="comentari" placeholder="Inserti el seu comentari..." rows="5"></textarea><br>
        <button class="btn btn-primary float-right">Enviar</button><br>
      </div>
      <div class="pl-3">
        <div class="w-100 pb-2">
          <h2> Comentaris :</h2>
        </div>
        <div *ngFor='let comentari of detallEspectacle?.comentari' class="col-md-12 col-12">
          <p class="font-weight-bold d-inline-block"> {{comentari.nomUsuari}} ha dit :</p>
          <p class="d-inline-block"> {{comentari.contingut}}</p><br>
        </div>
      </div>
    </div>
  </div>

</main>
