

body {
    display: block;
    margin: 0px !important;
}
a{
  color: white;
}
header{
  
  
  width: 100%;
  position: absolute;
  z-index: 1001;
  
  border-bottom: rgb(238, 190, 59) 3px solid;
}

h1[_ngcontent-c1]{
  border-bottom: 0px;
}
.navElement{
font-size: 1vw;
font-family: 'Raleway', sans-serif;

text-decoration: none;
}
.navElement:hover{
  font-weight: bold;
}
.faheader{
  font-size: 1.3vw;
}
.header {
  background-color: #d6a92e00;
  color: rgb(255, 255, 255);
  transition: opacity 1s ease;

  
  top: 70;
  width: 100%;
  height: 100px;
  line-height: 100px;

  
}
.headertop {
   
    color: rgb(255, 255, 255);
   background-color: #d6a92e00;  
    width: 100%;
    height: 60px;
    line-height: 80px;
    margin: 0px !important;
    padding: 0px !important;
  
  }

.fade {
  opacity: 1;
  
}
.fade1 {
    opacity: 0;
    
  }
  .logo{
 

  background-color: #d6a92e00;
    opacity: 1; 
    height: 160px; 
    float: left;
    line-height: 80px;
    
   
  }
  
.scrolled {
 
  background-color: rgb(0, 0, 0);
  position: fixed;
  height: 70px;
  line-height: 70px;
  top:0;
  padding-top: 0px;
  border-bottom: rgb(238, 190, 59) 3px solid;

  z-index: 101;
}




h1 { 
  border-bottom: 1px solid #ccc;
}



