
    <header>
      <div  class="logo col-2">
        <img class="ml-4" src="http://localhost/dist/logo3.png" height="100%"  alt="">
      </div>
      <div style="float:right; padding: 0px; " class="fader col-10">
        <div class="headertop col-12 row">
          <div class="col-7 "></div> 
          <div class=" col-2">
            <a><i class="fab fa-youtube faheader mr-3"></i></a>
            <a><i class="fab fa-facebook-f faheader mr-3"></i></a>
            <a><i class="fab fa-twitter faheader"></i></a>
          </div>
          <div class=" col-2">
            <a class="navElement" href="">ES/</a>
            <a class="navElement" href="">CAT</a>
            <a class="navElement" href="">/IN</a>
          </div>
          <div class=" col-1"><a><i class="fa fa-user faheader "></i></a></div>
        </div>
        <div class="header col-12">
          <div class="row"> <div class="col-5"> </div> 
          <div class="h col-2"></div> 
            <a href="" class="col-1 navElement">Home</a>
            <a href="" class="col-1 nav-link" [routerLink]="['espectacles']">Espectacles</a>
            <a href="" class="col-1 navElement">Calendari</a>
            <a href="" class="col-1 nav-link" [routerLink]="['formdemobasics']">Contacte</a>
            <a href="" class="col-1 navElement">Qui som?</a>
          </div>
        </div>
        </div>
      
      </header>
      
     
      
  
      
