.gen-h:hover {
    background-color: #eebe3b;
    color:white;
  } 

  .tip-h:hover {
    background-color: #eebe3b;
    color:white;
  } 

  .edat-h:hover {
    background-color: #eebe3b;
    color:white;
  } 


