
<div class="container">

	<h1 class="text-center">Dades personals</h1>
	<br>

	<form [formGroup]="formulari" (ngSubmit)="enviarFormulari()">
	<div class="form-group row">
		<div class="col-md-4">
			<label for="nom">Nom</label>
			<input type="text" class="form-control" id="nom"  formControlName="nom" placeholder="Nom" required>
		</div>
		<div class="col-md-4">
			<label for="llinatge1">Llinatge 1</label>
			<input type="text" class="form-control" id="llinatge1" formControlName="llinatge1" placeholder="Primer llinatge" required>
		</div>
		<div class="col-md-4">
			<label for="llinatge2">Llinatge 2</label>
			<input type="text" class="form-control" id="llinatge2" formControlName="llinatge2" placeholder="Segon Llinatge" required>
		</div>
	</div>

	<div class="form-group row">
			<div class="col-md-3">
					<label for="adreça">Adreça</label>
					<input type="text" class="form-control" id="adreça" formControlName="adreça" placeholder="Adreça" required>
				  </div>

			<div class="col-md-3">
					<label for="pais">Pais</label>
					<select class="form-control" id="pais" formControlName="pais" required>
							<option selected="true" disabled="disabled">Pais</option>  
							<option *ngFor="let pais of paisos" value="{{pais.codi}}">

									{{pais.nom}}
		
		
		
		
								</option>
					</select>
				</div>
			

			<div class="col-md-3">
					<label for="comunitat">Comunitat Autònoma</label>
					<select class="form-control" id="comunitat" formControlName="comunitat" required>
							
							
						
					</select>
				</div>
		<div class="col-md-3">
			<label for="ciutat">Ciutat</label>
			<select class="form-control" formControlName="ciutat" id="ciutat" required>
					 
					
				
			</select>
		</div>
	</div>


<div class="form-group row">

<div class="col-md-6">
		<label for="email">Email</label>
		<input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter email" required>
	  </div>
	  <div class="col-md-6">
		<label for="dni">DNI</label>
		<input type="text" class="form-control" id="dni" formControlName="dni" placeholder="DNI" required>
	  </div>
</div>

<br>
<button type="submit" class="btn btn-primary">Confirmar pagament</button>

</form>


</div>
